/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */




/* About page */

.page-about{

    .site-header{

        background-color: transparent;
        border-bottom: 0;
        position: absolute;
        text-shadow: 1px 1px 2px #323232;

        .brand-logo{
            color:$color__background-body;
        }
        .mini-navigation{
             a{
            color:$color__background-body;
        
            &:hover {
                color: $color__background-ins;
            }
           
        }
        .search-submit {
            color:$color__background-body;
        }

        .search-field{
            padding-left: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-right: 0px;
        }
    }
}

    .site-content{
        margin-left:0px;
        margin-right:0px;
        width:auto;
        
        .entry-content{
            margin:0;
        .hero-image-header{
            width:100vw;
            height:100vh;
            h1{
                color:$color__background-body;
            }
        }

        h2{
            text-align:center;
            text-transform:uppercase;
            line-height: 1.5rem;
        }
        
    }
}
  
    .content-area{

        flex-grow:1;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top:0px;
        border:none;
    }

     .entry-content>:not(header) {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
}

}